---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="poolesville_hacks">
    <main class="py-20">
        <section
            class="mx-auto w-11/12 max-w-3xl flex items-center justify-center flex-col gap-4"
        >
            <div class="flex items-center flex-col gap-2">
                <h1 class="text-5xl font-extrabold">poolesville&#8203;_hacks</h1>
                <h2 class="text-2xl font-bold text-center">
                    A group of Poolesville High School students <br /> running <span
                        class="bg-clip-text text-transparent bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
                        >hackathons</span
                    >
                </h2>
            </div>
        </section>
        <section class="mx-auto w-11/12 max-w-3xl mt-4">
            <div class="flex flex-wrap gap-6 items-center justify-center">
                <Card
                    title="poolesville_hacks 2"
                    highlights={` - 12 hours <br/> - 30 participants <br/> - 4 professional mentors`}
                    devpost="https://poolesville-hacks-2.devpost.com/"
                    website="https://2.poolesvillehacks.tech/"
                    type="In-person"
                    date="April 2023"
                />
                <Card
                    title="BlairHacks Mini '22"
                    highlights={` - 8 hours <br/> - 50 participants <br/> - 4 workshops`}
                    website="https://mini.blairhacks.com/"
                    type="In-person"
                    date="December 2022"
                />
                <Card
                    title="poolesville_hacks 1"
                    highlights={` - 41 hours <br/> - 73 participants`}
                    website="https://1.poolesvillehacks.tech/"
                    devpost="https://poolesvillehacks.devpost.com/"
                    type="Virtual"
                    date="May 2022"
                />
            </div>
        </section>
        <section
            class="mx-auto w-11/12 max-w-3xl flex items-center justify-center flex-col mt-10"
        >
            <h1 class="text-4xl font-bold">Team</h1>
            <div class="grid sm:grid-cols-3 grid-cols-2 gap-10 text-lg text-center">
                <p>
                    Jaden Hou
                    <br />
                    <span class="text-sm">Co-Founder & Director • 2023</span>
                </p>
                <p>
                    James Xu
                    <br />
                    <span class="text-sm">Lead • 2023</span>
                </p>
                <p>
                    Abhimanyu Ghosh
                    <br />
                    <span class="text-sm">Lead • 2023</span>
                </p>
                <p>
                    Arjun Rao
                    <br />
                    <span class="text-sm">Lead • 2023</span>
                </p>
                <p>
                    Charles Hu
                    <br />
                    <span class="text-sm">Lead • 2023</span>
                </p>
                <p>
                    Isabela Magnoni
                    <br />
                    <span class="text-sm">Team • 2023</span>
                </p>
                <p>
                    Ben Ren
                    <br />
                    <span class="text-sm">Team • 2023</span>
                </p>
                <p>
                    Caitlin Woodward
                    <br />
                    <span class="text-sm">Team • 2023</span>
                </p>
                <p>
                    Soham Kyada
                    <br />
                    <span class="text-sm">Co-Founder & Director • 2022</span>
                </p>
                <p>
                    Bryan Yung
                    <br />
                    <span class="text-sm">Team • 2022</span>
                </p>
                <p>
                    Nitya Mahawar
                    <br />
                    <span class="text-sm">Team • 2022</span>
                </p>
            </div>
        </section>
        <section
            class="mx-auto w-11/12 max-w-3xl flex items-center justify-center flex-col mt-10"
        >
            <h1 class="sm:text-4xl text-3xl font-bold">Acknowledgements</h1>
            <div class="text-center text-xl">
                Mrs. Janice Bailey<br />
                Hack Club<br />
                BlairHacks
                <br />
            </div>
        </section>
    </main>
    <footer class="w-screen py-8 text-center">
        poolesville_hacks © 2023
    </footer>
</Layout>
